In [56]:
import pandas as pd
import numpy  as np

In [77]:
# Win rate = 40%
result = pd.Series(np.random.choice([0,1],p=[0.6,0.4],size=15000))
result = pd.DataFrame(result, columns=['result'])
for i in range(1,5):
    result['total'] = result['result'].map({1:i,0:-1})
    print(f'TP={i} : SL=1')
    print(result['total'].sum())
    print('-'*30)

TP=1 : SL=1
-3010
------------------------------
TP=2 : SL=1
2985
------------------------------
TP=3 : SL=1
8980
------------------------------
TP=4 : SL=1
14975
------------------------------

In [63]:
# Win rate = 30%
result = pd.Series(np.random.choice([0,1],p=[0.7,0.3],size=15000))
result = pd.DataFrame(result, columns=['result'])
for i in range(1,5):
    result['total'] = result['result'].map({1:i,0:-1})
    print(f'TP={i} : SL=1')
    print(result['total'].sum())
    print('-'*30)

TP=1 : SL=1
-6070
------------------------------
TP=2 : SL=1
-1605
------------------------------
TP=3 : SL=1
2860
------------------------------
TP=4 : SL=1
7325
------------------------------

In [64]:
# Win rate = 25%
result = pd.Series(np.random.choice([0,1],p=[0.75,0.25],size=15000))
result = pd.DataFrame(result, columns=['result'])
for i in range(1,5):
    result['total'] = result['result'].map({1:i,0:-1})
    print(f'TP={i} : SL=1')
    print(result['total'].sum())
    print('-'*30)

TP=1 : SL=1
-7638
------------------------------
TP=2 : SL=1
-3957
------------------------------
TP=3 : SL=1
-276
------------------------------
TP=4 : SL=1
3405
------------------------------